@import "tailwindcss";
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.extreme-blur {
  backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, 0.3); /* optional */
}
